.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.bar{
  width: 50%;
  border: 2px solid gray;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  position: relative;
   display: flex;
  align-items: center;
  justify-content: flex-start; 
  
}
.percent{
 z-index: 2; 
 width: 20%;
 position: fixed;
 right: 40%;
 text-align: center;

}

.clr{
  
  height: 20px;
  z-index: 1;
  background-color: aqua;
}